.container {
  padding: 40px;
  min-height: 100vh;
  color: #fff;
}

.titulo {
  font-family: Montserrat;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #1f4b4a;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  display: flex;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.imagem {
  width: 280px;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 20px;
  flex: 1;
}

.info h2 {
  font-family: Montserrat;
  font-size: 1.6rem;
  color: #1f4b4a;
  margin-bottom: 10px;
}

.local,
.datas {
  font-size: 1rem;
  color: #1c1c1c;
  font-family: Poppins;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.status {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 1rem;
  color: #1c1c1c;
  font-family: Poppins;
  margin-top: 8px;
}

.acoes {
  margin-top: 15px;
  display: flex;
  gap: 12px;
}

.detalhes {
    font-size: 1rem;
    font-family: Poppins;
  background: transparent;
  border: 1px solid #1f4b4a;
  color: #1f4b4a;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.detalhes:hover {
  background: #1f4b4a;
  color: #fff;
}

.cancelar {
  background: transparent;
  border: 1px solid #d43737;
  color: #d43737;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
  font-family: Poppins;
  font-size: 1rem
}

.cancelar:hover {
  background: #d43737;
  color: #fff;
}
